/* MOBILE FIRST BREAKPOINTS */
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tabletS: 560px;
$tablet: 768px;
$desktopXS: 940px;
$desktopS: 1200px;
$desktop: 1360px;
$desktopM: 1440px;
$desktopL: 1920px;
$desktop4k: 2560px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

// $font: "minion", "Arial", sans-serif;
$font: "minion";
$color-text: #3f4850;
$color-text-white: #ffffff;
$color-white: #ffffff;
$color-accent: #c55d61;
$color-dark: #3e220d;
$color-backdrop: #272623;
