.call-back__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-dark;
  background-position: center;
  background-size: cover;
}

.call-back {
  color: #ffffff;
}

.call-back__title {
  font-size: 25px;
  text-transform: uppercase;
}

.call-back__contacts {
  @include list-reset;
  margin: 50px 0;
  margin-left: 20px;
}

.call-back__item {
  
}

.call-back__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.call-back__contacts-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;

  transition: color 0.2s linear;
}

.call-back__contacts-icon {
  margin-right: 20px;
  fill: #ffffff;

  transition: fill 0.2s linear, 
  transform 0.2s linear;
}

a.call-back__contacts-link:hover,
a.call-back__contacts-link:focus {
  color: $color-accent;

  .call-back__contacts-icon {
    fill: $color-accent;
    transform: scale(1.2);
  }
}

.call-back__form {
  padding: 0 15px;
}


@media (min-width: $tablet) {
  .call-back__wrap {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .call-back {
    display: flex;
    align-items: flex-start;
  }

  .call-back__left-side {
    width: 50%;
  }

  .call-back__right-side {
    width: 50%;
  }

  .call-back__title {
    // margin-top: 13px;
    margin-top: 0;
    text-align-last: left;
  }

  .call-back__contacts-icon {
    margin-right: 30px;
  }

  .call-back__item:not(:last-of-type) {
    margin-bottom: 50px;
  }
}