.contacts-block {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  padding: 50px;
  background-color: $color-dark;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: $color-dark;
    opacity: 0.8;
  }
}