.contacts__form-wrap {
  margin-bottom: 50px;
}

.contacts__map {
  width: 100%;
  height: 450px;
  margin-top: 30px;
}

@media (min-width: $tabletS) {
  .contacts__map {
    height: 300px;
  }
}

@media (min-width: $desktopS) {
  .contacts {
    display: flex;
  }

  .contacts__title {
    text-align: left;

    .title__shadow {
      left: 0;
      transform: translate(0, -50%);
    }
  }

  .contacts__form-wrap {
    margin-right: 30px;
  }

  .contacts__information {
    margin-bottom: 50px;
  }

  .contacts__map {
    margin: 0;
    width: 500px;
    height: auto;
  }
}