.gallery {
  @include list-reset;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__link {
  // position: absolute;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.35);

    transition: background-color 0.2s linear;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    // min-width: 100%;
    // min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition: transform 0.3s linear;
  }
}

.gallery__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  transition: opacity 0.3s linear;
}

.gallery__link:hover,
.gallery__link:focus {
  img {
    transform: translate(-50%, -50%) scale(1.05);
  }

  .gallery__btn {
    opacity: 1;
  }

  &::after {
    background-color: transparent;
  }
}

@media (min-width: $mobileL) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;
  }
}

@media (min-width: $mobileL) and (max-width: $tablet - 1px) {
  .gallery--layout-1 {
    .gallery__item:nth-of-type(3n) {
      width: 100%;

      .gallery__link {
        padding-bottom: 50%;
      }
    }
  }

  .gallery--layout-2 {}
}

@media (min-width: $tablet) {
  .gallery__item {
    width: calc(100% / 3);
  }
}

@media (min-width: $tablet) {

  .gallery--layout-1 {
    .gallery__item:nth-of-type(5n - 3) {
      width: calc(100% / 3 * 2);

      .gallery__link {
        padding-bottom: 50%;
      }
    }
  }

  .gallery--layout-2 {
    .gallery__item:nth-of-type(7n - 5),
      .gallery__item:nth-of-type(7n - 4) {
      width: calc(100% / 3 * 2);

      .gallery__link {
        padding-bottom: 50%;
      }
    }
  }
}