.link {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  color: $color-accent;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 13px;
    width: 0;
    height: 1px;
    background-color: $color-accent;

    transition: width 0.2s linear,
    left 0.2s linear;
  }
}

.link:hover,
.link:focus {
  &::after {
    left: 13px;
    width: calc(100% - 26px);
  }
}