.page-footer__wrap {
  width: 100%;
  // margin-top: 30px;
  padding-top: 10px;
  background-color: #f3f3f3;
  color: $color-text;
}

.page-footer {
  color: $color-text-dark;
}

.page-footer__title {
  position: relative;
  // margin: 30px 0;
  margin: 25px 0;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    height: 1px;
    background-color: #dadada;
  }
}

.page-footer__contacts {
  @include list-reset;
}

.page-footer__contacts-item {
  margin-bottom: 20px;
}

.page-footer__contacts-link {
  display: inline-flex;
  align-items: center;
  color: $color-text;
  text-decoration: none;

  transition: color 0.2s linear;
}

.page-footer__contacts-icon {
  margin-right: 10px;
  fill: $color-text;

  transition: fill 0.2s linear,
    transform 0.2s linear;
}

.page-footer__top-block {
  position: relative;
  padding-bottom: 25px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    height: 1px;
    background-color: #dadada;
  }
}

.page-footer__align-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__contacts-link:hover,
.page-footer__contacts-link:focus {
  color: $color-accent;

  .page-footer__contacts-icon {
    fill: $color-accent;
    transform: scale(1.2);
  }
}

.page-footer__links-list {
  @include list-reset;
  text-align: center;
}

.page-footer__links-list li {
  margin-bottom: 10px;
}

.page-footer__link {
  position: relative;
  font-size: 15px;
  color: #83847e;
  text-decoration: none;
  transition: 0.2s color linear;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 1px;
  //   right: 7px;
  //   width: 0;
  //   height: 1px;
  //   background-color: #83847e;
  //   transition: width .2s linear,
  //     left .2s linear,
  //     background-color 0.2s linear;
  // }
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: $color-accent;

  // &::after {
  //   left: 7px;
  //   width: calc(100% - 14px);
  //   background-color: $color-accent;
  // }
}

.page-footer__bottom {
  padding: 40px 0;
  font-size: 15px;
  font-weight: 500;
  color: #83847e;
  text-align: center;
}

@media (min-width: $tabletS) {
  .page-footer__top-block {
    // width: calc(100% / 3);
    padding-bottom: 40px;
    text-align: left;
  }

  .page-footer__right {
    display: flex;
    justify-content: space-around;
  }

  .page-footer__align-mob {
    align-items: flex-start;
    // margin-left: 15px;
  }

  .page-footer__bottom {
    text-align-last: left;
  }

}

@media (min-width: $desktopXS) {
  .page-footer__top {
    display: flex;
    text-align-last: left;
  }

  .page-footer__left {
    width: 40%;
  }

  .page-footer__right {
    margin: 0 auto;
    flex-grow: 1;
  }
}